<div class="row">
  <div class="col-xs-12">
    <h1>{{ editMode == true ? "Edit Recipe" : "Create New Recipe" }}</h1>
    <hr />
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            {{ editMode == true ? "Update" : "Create" }}
          </button>
          <button type="button" class="btn btn-danger" routerLink="/recipes">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"><b>Image Path</b></label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="" class="img-responsive" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"><b>Description</b></label>
            <textarea
              type="text"
              id="name"
              class="form-control"
              rows="6"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div
        class="container text-center"
        style="display: list-item; display: inline"
      >
        <h5 style="text-align: left"><b>Ingredients</b></h5>
        <hr />
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            style="margin-top: 3%"
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col">
              <select class="form-control" name="" id="">
                <option
                  class="form-control"
                  formControlName="name"
                  *ngFor="let ing of arrayOfIngredients"
                >
                  {{ ing }}
                </option>
              </select>
            </div>

            <div class="col">
              <input
                type="number"
                class="form-control"
                placeholder="Amount"
                formControlName="amount"
                value="Dac"
                disabled
              />
            </div>
            <div class="col-sm-1">
              <button (click)="onDeleteIngredient(i)" class="btn btn-danger">
                X
              </button>
            </div>
          </div>
          <hr />

          <div class="row">
            <div class="col-xs-12">
              <div class="d-grid gap-2">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="onAddIngredient()"
                >
                  Add Packages
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
