<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="changeOfData(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Package</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            [(ngModel)]="name"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Version</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            [(ngModel)]="amount"
            min="0"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="">Select Cookbook</label>
          <select
            name=""
            id=""
            class="btn btn-outline-secondary"
            style="margin: 2%"
            required
          >
            <option *ngFor="let selectedOption of recipes | async">
              {{ selectedOption.recipeName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete($event)"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
